<div id="sidebar-widgets-wrapper" class="content-frame">
    <div id="sidebar" class="content-frame-inner">
        <div class="contact-box">
            <ul>
                <li class="widget">
                    <h2 class="widget-title">More info</h2>
                    <div class="widget-content">
                        <ul class="social-links-list">
                            <li> <a href="https://orcid.org/0000-0002-3361-5840" target="_blank" rel="noopener noreferrer me" class="social-icon-link">
                                    <img src="{{ '/images/social/orcid-logo.svg' | url }}" alt="ORCID logo"/> ORCID 0000-0002-3361-5840
                                </a>
                            </li>
                            <li> <a class="social-icon-link" href="https://www.researchgate.net/profile/Kalle-Pihlainen" target="_blank" rel="noopener noreferrer" aria-label="Kalle Pihlainen on ResearchGate">
                                    <img src="{{ '/images/social/researchgate-logo.svg' | url }}" alt="ResearchGate logo"> Follow on ResearchGate
                                </a>
                            </li>
                            <li> <a class="social-icon-link" href="https://abo.academia.edu/KallePihlainen" target="_blank" rel="noopener noreferrer" aria-label="Kalle Pihlainen on Academia.edu">
                                    <img src="{{ '/images/social/academia-logo.svg' | url }}" alt="Academia.edu logo"> Follow on Academia.edu
                                </a>
                            </li>
                            <li> <a class="social-icon-link" href="https://bsky.app/profile/kallepihlainen.bsky.social" target="_blank" rel="noopener noreferrer" aria-label="Kalle Pihlainen on Bluesky">
                                    <img src="{{ '/images/social/bluesky-logo.svg' | url }}" alt="Bluesky logo"> Follow on Bluesky
                                </a>
                            </li>
                            <li> <a class="social-icon-link" href="https://twitter.com/kallepihlainen" target="_blank" rel="noopener noreferrer" aria-label="Kalle Pihlainen on X (formerly Twitter)">
                                    <img src="{{ '/images/social/x-logo.svg' | url }}" alt="X (formerly Twitter) logo"> Follow on X
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="widget contact-widget">
                    <h2 class="widget-title contact-title-flex">
                        <span>Contact</span>
                        <span class="contact-title-icons">
                            <a href="mailto:kalle.pihlainen@utu.fi" class="social-icon-link" aria-label="Send email to Kalle Pihlainen">
                                 <img src="{{ '/images/social/email-icon.svg' | url }}" alt="Email icon"> Email
                            </a>
                            <a class="social-icon-link" href="https://www.instagram.com/kallepihla/" target="_blank" rel="noopener noreferrer" aria-label="Kalle Pihlainen on Instagram">
                                <img src="{{ '/images/social/instagram-logo.svg' | url }}" alt="Instagram logo"> Chat
                            </a>
                        </span>
                    </h2>
                </li>
            </ul>
        </div>
    </div>
</div>